.border {
  border: 1px solid red;
}

.center {
  margin-inline: auto;
}

.max-width-600 {
  max-width: 600px;
};

.titled-section {
  display: flex;
  flex-direction: column;
  gap: var(--space-0);
}

.titled-section > :first-child {
  text-align: center;
}

.width-100 {
  width: 100%;
}