.clr-brand-50 {
  color: var(--clr-brand-50) !important;
}

.clr-brand-100 {
  color: var(--clr-brand-100) !important;
}

.clr-brand-200 {
  color: var(--clr-brand-200) !important;
}

.clr-brand-300 {
  color: var(--clr-brand-300) !important;
}

.clr-brand-400 {
  color: var(--clr-brand-400) !important;
}

.clr-brand-500 {
  color: var(--clr-brand-500) !important;
}

.clr-brand-600 {
  color: var(--clr-brand-600) !important;
}

.clr-brand-700 {
  color: var(--clr-brand-700) !important;
}

.clr-brand-800 {
  color: var(--clr-brand-800) !important;
}

.clr-brand-900 {
  color: var(--clr-brand-900) !important;
}