@import './helpers.css';
@import './hover-styles.css';
@import './light-buttons.css';
@import './outlined-buttons.css';
@import './text-buttons.css';
  
button {
  background-color: var(--clr-brand-700);
  border-radius: var(--border-radius-2);
  border: var(--border-width-2) solid var(--clr-brand-700);
  box-shadow: var(--box-shadow-2);
  color: var(--clr-gray-50);
  cursor: pointer;
  height: fit-content;
  padding: var(--space-2) var(--space-4);
  transition: none;
  user-select: none;
  width: fit-content;
}

button * {
  color: inherit;
}
  
button:active {
  /* transform: translateY(0.125rem); */
  /* scale button on click */
  transform: scale(0.95);
  box-shadow: none;
}

button.standard.accent {
  background-color: var(--clr-accent-700);
  border: var(--border-width-2) solid var(--clr-accent-700);
}

button.standard.danger {
  background-color: var(--clr-danger-700);
  border: var(--border-width-2) solid var(--clr-danger-700);
}
  
button.standard.gray {
  background-color: var(--clr-gray-700);
  border: var(--border-width-2) solid var(--clr-gray-700);
}
  
button.standard.success {
  background-color: var(--clr-success-700);
  border: var(--border-width-2) solid var(--clr-success-700);
}
